/* GENERAL */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  /* margin-right: 76px; */
  display: inline-block;
  margin-bottom: 16px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
img {
  display: block;
}
/*================ /GENERAL =================*/

/*HEADER */
.page-header {
  padding-top: 15px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.head-container {
  display: flex;
  align-items: center;
}

.page-header .container {
  display: flex;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.nav-link .header-active {
  position: relative;
  color: #404bbf;
}
.nav-item:last-child {
  margin-right: 320px;
}
.nav-link:hover {
  color: #4d5ae5;
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
  align-items: baseline;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.address-link:hover {
  color: #404bbf;
}

/*================ /HEADER =================*/
/* MAİN */
/* OFFER */
.div-offer {
  height: 600px;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.div-offer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  /* margin-bottom: 48px; */
  margin: auto;
  letter-spacing: 0.02em;
}
.div-offer-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
}
.div-offer-button:hover {
  background-color: #404bbf;
}

.div-offer .div-offer-title {
  margin: auto;
  margin-bottom: 48px;
}
/*================= /OFFER =================*/
/* Offer-Background Styles */
.background-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/background/people-office-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}
.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-title {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
}
.background-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  font-size: 16px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.background-button:hover,
.background-button:focus {
  background-color: #404bbf;
}
/* /Offer-Background Styles */
/* SKİLL */
.div-skill {
  padding-top: 120px;
  padding-bottom: 120px;
}
.skill-list {
  display: flex;
  gap: 24px;
}
.skill-list-item {
  width: calc((100% - 3 * 24px) / 4);
}
.skill-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.skill-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-active::after {
  /* content: "";
  display: block;
  position: absolute;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0px; */
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  box-sizing: border-box;
}
/* *, ::after, ::before {
  box-sizing: border-box;
} */

/*================= /SKİLL =================*/
/* TEAM */
.div-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.div-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.div-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.div-team-list-item {
  background-color: #fff;
  text-align: left;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.div-team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.div-team-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.div-team-list-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*================= /TEAM =================*/
/* PORTFOLİO */
.div-portfolio-list,
.div-portfolio {
  background: #fff;
}
.div-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.div-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.div-portfolio-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.div-portfolio-list-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.div-portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.div-team-portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*================= /PORTFOLİO =================*/
/* FOOTER */
footer {
  display: block;
  unicode-bidi: isolate;
}
.footer-page {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-contaier {
  display: flex;
  column-gap: 120px;
}

.logo-footer-studio {
  color: white;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/*================= /FOOTER =================*/
/* icon-svg */

.skill-icon {
  margin: 24px 100px;
}
.skill-icon-div {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* /icon-svg */
/* icon our team */
.our-team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}
.our-team-social-div {
  margin: 8px 16px 0px 16px;
}
.our-team-social-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  display: block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-social-link:hover,
.our-team-social-link:focus {
  background-color: #404bbf;
}
.our-team-social-icon {
  fill: white;
}
/* /icon our team */
/* footer icon */

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}
/* .footer-social-div {
    margin: 8px 16px 0px 16px;
  } */
.footer-social-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  display: block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: white;
}
/* /footer icon */
